NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/tamado?schema=public"
JWT_SECRET="your-secret-key-at-least-32-characters-long"
FRONTEND_URL=http://localhost:5173

# Optional: YouTube API
YOUTUBE_API_KEY=

# Optional: Twitch API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
